<!DOCTYPE html>
<html lang="en">

<head>
     {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about6.jpg" alt="Aditya Anand" class="img-fluid" title="Aditya">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">

                        <h1>I Am A <span class="text_color">MERN stack Developer,</span> student.</h1>
                        <a href="https://adityamern.github.io/designedresume/" target="_blank"><button>About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>