<footer >
        <div class="d-flex justify-content-center footer-class">
                <a href="https://github.com/adityaMERN" target="_blank"><i class="fab fa-github" style="padding-right:10px"></i></a>
                <a href="https://www.linkedin.com/in/aditya-anand-4a843516a/" target="_blank"><i class="fab fa-linkedin" style="padding-left:10px"></i></a>
        </div>

    
</footer>